<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ANS_Library_Management_System.Properties.Settings.ANSLMSConnectionString"
            connectionString="Data Source=NATHANIEL;Initial Catalog=ANSLMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ANS_Library_Management_System.Properties.Settings.ANSLMSConnectionString1"
            connectionString="Data Source=IZAYOI;Initial Catalog=ANSLMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>